<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container" onload="obtenerClientes()">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
      </div>

      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener Clientes</button>
      </div>

      <div class="row">
        # de clientes {{clientes.length}}
        <table class="table table-hover table-striped">
          <thead class="thead-dark">
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th># Cuenta</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>[[item.x]]</td>
                <td>[[item.Name]]</td>
                <td>[[item.LastName]]</td>
                <td>[[item.Email]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
      window.addEventListener('WebComponentsReady', function(e) {
      console.log('components ready');
  });

    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        var request = new XMLHttpRequest();
        request.open("GET", "http://localhost:8080/api/clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
        console.log(this.clientes.length);
      }

      
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
