<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *
<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h2>Ingreso a la aplicación</h2>
      </div>
      <div class="row">
        Email: <input type="email" value="{{email::input}}"> <br>
      </div>
      <div class="row">
        Password: <input type="password" value="{{password::input}}">
      </div>
      <div class="row">
        <button on-click="login" type="button" name="button" class="btn btn-success">Ingresar</button>
      </div>
      <div class="row" hidden$={{!logado}}>
        <span>Bienvenido a la aplicación</span>
      </div>
    </div>
    <iron-ajax id="doLogin" url="http://localhost:3000/login" content-type="application/json" crossDomain: true
      dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse" on-error="showError">
    </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() {
        return 'login-app';
      }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }
      login() {
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        console.log(loginData);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('Petición enviada');
      }
      manageAJAXResponse(data) {
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);
        this.logado = true;
      }
      showError(error) {
        console.log("Hubo un error");
        alert("Datos ingresados incorrectos, valide");
        console.log(error);
        this.logado = false;
      }
    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>